.container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-card-number, .box-card-interest {
    width: 90%;
    max-width: 800px;
    margin-top: 30px;
    border: 2px solid black;
}

.box-card-number {
    height: 200px;
}

.box-card-interest {
    max-width: 1200px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.box-card-number h1, .box-card-interest h1 {
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

.text-number  {
    margin: 45px auto;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.989);
    border: 1px solid black;
    color: white;
    font-weight: bold;
}
.text-interest{
    margin: 20px auto;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.989);
    border: 1px solid black;
    color: white;
    font-weight: bold;
}

.table1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 10px;
    margin-top: 60px;
}

.grade {
    width: 90%;
    max-width: 47.4%;
    border-radius: 5px;
    margin: 10px 1%;
    height: 40px;
    border: 1px solid black;
}

@media (min-width: 768px) {
    .box-card-number, .box-card-interest {
        width: 47.4%;
        margin: 30px 1%;
    }

    .grade {
        width: 47.4%;
        margin-left: 1%;
        margin-right: 1%;
    }
}
